{% extends 'layout.html.twig' %}
{% block page_title %}About My Open Letter{% endblock %}
{% block content %}
<div id="coreContent" class="hfeed">
	<div class="post">
		<div class="postContent"> 
			<h3 class="entry-title">About My Open Letter</h3> 
			<div class="entry-content"> 
				<p>MyOpenLetter was inspired by the openletter saga on Twitter.<br>
				MyOpenLetter aims to provide a very easy platform for anyone to write an open letter to anyone else in this world. <br>
				Contact us at: myopenletter1@gmail.com</p>
			</div> 
		</div>
	</div>
</div>				 
{% endblock %}
