{% extends 'layout.html.twig' %}
{% block page_title %}My Open Letter Terms of Service{% endblock %}
{% block content %}
<div id="coreContent" class="hfeed">
	<div class="post">
		<div class="postContent"> 
			<h3 class="entry-title">My Open Letter TOS</h3> 
			<div class="entry-content"> 
				<ol><li>Acceptance of our Terms

    <br>
    <br>

    MyOpenLetter  provides a collection of online resources, (referred to as "the Service")  subject to the Terms of Use ("Terms"), which may be updated by  MyOpenLetter at any time. MyOpenLetter will provide notice of significant  changes to the Term by posting this notice on the MyOpenLetter website.  By using the website in any way, you agree to comply with these Terms.  Addditionally, when using particular MyOpenLetter services, you agree to  conform to any applicable posted guidelines for all MyOpenLetter  services, which may change periodically. Should you object to any term  or condition of these Terms, any guideline, or any subsequent changes  thereto or become unhappy with MyOpenLetter in any way, your only choice  is to immediately discontinue use of MyOpenLetter.<br>
    <br>
  </li>
  <li>Content<br>
    <br>
  You  understand that all listings, messages, comments, files, images,  photos, video, sounds, or other materials ("Content") posted on,  transmitted through, or linked from the Service, are the sole  responsibility of the person from whom such Content originated. More  specifically, you are entirely responsible for all Content that you  upload, email or otherwise make available via the Service. You  understand that MyOpenLetter does not control, and is not responsible for  Content made available through the website, and that by using the  website, you may be exposed to Content that is offensive, indecent,  inaccurate, misleading, or otherwise objectionable. Furthermore, the  MyOpenLetter site and Content available through the website may contain  links to other websites, which are completely unrelated to MyOpenLetter.  MyOpenLetter makes no representation or<br>
    guarantee as to the accuracy  or authenticity of the information contained in any such site. Your  linking to any other websites is at your completely own risk. You agree  that you must evaluate, and bear all risks associated with, the use of  any Content, that you may not rely on said Content, and that under no  circumstances will MyOpenLetter be liable in any way for Content or for  any loss or damage of any kind incurred as a result of the use of any  Content listed, emailed or otherwise made available via the Service.  You acknowledge that MyOpenLetter does not pre-screen or approve Content,  but that MyOpenLetter will have the right (but not the obligation) in its  sole discretion to refuse, delete or move any Content that is available  via the Service, for violating the spirit of the site or the Terms or  for any other reason.<br>

    <br>
  </li>
  <li>Notification of Claims of Infringement<br>
    <br>
    If  you believe that your work has been copied in a way that infringes  copyright, or your intellectual property rights have been otherwise  violated, please notify a MyOpenLetter agent for notice of claims of  copyright or other intellectual property infringement ("Agent"), via  the customer care links on MyOpenLetter.<br>
    <br>
    Please provide our representatives with the following Notice:<br>

    1. Identify the copyrighted work or other intellectual property that you        claim has been infringed upon;<br>
    2. Identify the content on the MyOpenLetter site that you claim is  infringing, with enough detail so that we may locate it on the website;<br>
    3. A statement by you that you have good reason that the disputed use  is not authorised by the copyright owner, its agent, or the law;<br>
    4.  A statement by you declaring (a) the above information in your Notice  is accurate, and (b) that you are the owner of the copyright interest  involved or that you are authorised to act on behalf of that owner;<br>
    5. Your address, telephone number, and email address; and<br>
    6. Your physical or internet/electronic signature.<br>

    <br>
    MyOpenLetter will remove the infringing item(s).<br>
    <br>
    <br>
  </li>
   <li>Conduct<br>
    <br>
    You agree not to post, email, or otherwise make available Content:
	* that is unlawful, harmful, threatening, abusive, harassing,  defamatory, pornographic, libelous, invasive of another's privacy, or  harms minors in any way;<br>

      * that harasses, degrades, intimidates or  is hateful toward an individual or group of individuals on the basis of  religion, gender, sexual orientation, race, ethnicity, age, or  disability;<br>
      * that impersonates any person or entity, including,  but not limited to, a MyOpenLetter employee, or falsely states or  otherwise misrepresents your<br>
      affiliation with a person or entity;<br>
      * that includes personal or identifying information about another  person without that person's explicit consent.<br>
      * that is false, deceptive, misleading, deceitful, misinformative, or          constitutes "bait and switch";<br>
      * that infringes any patent, trademark, trade secret, copyright or  other proprietary rights of any party, or Content that you do not have  a right to<br>

      make available under any law or under contractual or fiduciary relationships.<br>
      * that constitutes or contains "affiliate marketing," "link referral  code," "junk mail," "spam," "chain letters," "pyramid schemes," or  unsolicited<br>
      commercial advertisement.<br>
      * that  constitutes or contains any form of advertising or solicitation if (1)  posted in areas of the MyOpenLetter sites which are not designated for  such<br>
      purposes; or (2) emailed to MyOpenLetter users who have  requested not to be contacted about other services, products or  commercial interests.<br>
      * that includes links to commercial services or web sites, except as allowed          in "services".<br>

      * that advertises any illegal services or the sale of any items the  sale of which is prohibited or restricted by applicable law, including  without<br>
      limitation items the sale of which is prohibited or  regulated by Indian law - a partial list of these is provided for  your convenience<br>
      * that contains software viruses or any other  computer code, files or programs designed to interrupt, destroy or  limit the functionality of any<br>
      computer software or hardware or telecommunications equipment;<br>
      * that disrupts the normal flow of dialogue with an excessive number of  messages (flooding attack) to the Service, or that otherwise negatively  affects other users' ability to use the Service; or<br>
      * that employs  misleading email addresses, or forged headers or otherwise manipulated  identifiers in order to disguise the origin of Content transmitted  through the Service. </p>

    Additionally, you agree not to:<br>
      * contact anyone who has asked not to be contacted;<br>
      * "stalk" or otherwise harrass anyone;<br>
      * collect personal data about other users for commercial or unlawful purposes;<br>
      * use automated means, including spiders, robots, crawlers, data mining  tools, or the like to download data from the Service - exception is  made for internet search engines (e.g. Google) and non-commercial  public archives (e.g. archive.org) that comply with our robots.txt file;<br>
      * post non-local or otherwise irrelevant Content, repeatedly post the  same or similar Content, or otherwise impose an unreasonable or  disproportionately large load on our infrastructure;<br>

      * post the  same item or service in more than one classified category or forum, or  in more than one metropolitan area; or<br>
      * attempt to gain  unauthorized access to MyOpenLetter's computer systems or engage in any  activity that disrupts, diminishes the quality of, interferes with the  performance of, or impairs the functionality of, the Service or the  MyOpenLetter website.<br>
      <br>
  </li>
  <li>
  No Spam        Policy<br>

  <br> 
  You  understand and agree that sending unsolicited email advertisements to MyOpenLetter email addresses or through MyOpenLetter computer systems,  which is expressly prohibited by these Terms, will use or cause to be used servers located in USA. Any unauthorized use of MyOpenLetter  computer systems is a violation of these Terms and certain federal and  state laws, including without limitation the Computer Fraud and Abuse  Act (18 U.S.C. ยง 1030 et seq.), Section 502 of the California Penal  Code and Section 17538.45 of the California Business and Professions Code. Such violations may subject the sender and his or her agents to  civil and criminal penalties.<br>
    <br>
  </li>
  <li>Limitations        on service<br>
    <br>
    You  acknowledge that MyOpenLetter may establish limits concerning use of the  Service, including the maximum number of days that Content will be  retained by the Service, the maximum number and size of postings, email  messages, or other Content that may be transmitted or stored by the  Service, and the frequency with which you may access the Service. You  agree that MyOpenLetter has no responsibility or liability for the  deletion or failure to store any Content maintained or transmitted by  the Service. You acknowledge that MyOpenLetter reserves the right at any  time to modify or discontinue the Service (or any part thereof) with or  without notice, and that MyOpenLetter shall not be liable to you or to  any third party for any modification, suspension or discontinuance of  the Service.<br>
    <br>

  </li>
  <li>Termination        of service<br>
    <br>
    You  agree that MyOpenLetter, in its sole discretion, has the right (but not  the obligation) to delete or deactivate your account, block your email  or IP
    address, or otherwise terminate your access to or use of the  Service (or any part thereof), immediately and without notice, and  remove and discard any Content within the Service, for any reason,  including, without limitation, if MyOpenLetter believes that you have  acted inconsistently with the letter or spirit of the Terms. Further,  you agree that MyOpenLetter shall not be liable to you or any third-party  for any termination of your access to the Service. Further, you agree  not to attempt to use the Service after said termination. Sections 2,  4, 6 and 9-13 shall survive termination of these Terms.<br>
    <br>
  </li>
  <li>Dealings        with organizations and individuals<br>

    <br>
    Your  interactions with organizations and/or individuals found on or through  the Service, including payment and delivery of goods or services, and  any other terms, conditions, warranties or representations associated  with such dealings, are solely between you and such organizations  and/or individuals. You agree that MyOpenLetter shall not be responsible  or liable for any loss or damage of any sort incurred as the result of  any such dealings. If there is a dispute between participants on this  site, or between users and any third party, you understand and agree  that MyOpenLetter is under no obligation to become involved. In the event  that you have a dispute with one or more other users, you hereby  release MyOpenLetter, its officers, employees, agents and successors in  rights from claims, demands and damages (actual and consequential) of  every kind or nature, known or unknown, suspected and unsuspected,  disclosed and undisclosed, arising out of or in any way related to such  disputes and / or our service.<br>
    <br>
  </li>
  <li>Proprietary        rights<br>
    <br>
    The  Service is protected to the maximum extent permitted by copyright laws  and international treaties. Content displayed on or through the Service  is protected by copyright as a collective work and/or compilation,  pursuant to copyrights laws, and international conventions. Any  reproduction, modification, creation of derivative works from or  redistribution of the Sites or the collective work is prohibited.  Copying or reproducing the sites or any portion thereof to any other  server or location for further reproduction or redistribution is  prohibited. You further agree not to reproduce, duplicate or copy  Content from the Service, and agree to abide by any and all copyright  notices displayed on the Service. You may not decompile or disassemble,  reverse engineer or otherwise attempt to discover any source code  contained in the Service. Without limiting the foregoing, you agree not  to reproduce, duplicate, copy, sell, resell or exploit for any  commercial purposes, any aspect of the Service. MyOpenLetter is a  registered mark in the U.S. Patent and Trademark Office. Although  MyOpenLetter does not claim ownership of content that its users post, by  posting Content to any public area of the Service, you automatically  grant, and you represent and warrant that you have the right to grant,  to MyOpenLetter an irrevocable, perpetual, non-exclusive, fully paid,  worldwide license to use,<br>

    copy, perform, display, and distribute  said Content and to prepare derivative works of, or incorporate into  other works, said Content, and to grant and authorize sublicenses  (through multiple tiers) of the foregoing.<br>
    <br>
  </li>
  <li>Disclaimer        of Warranties<br>
    <br>
    YOU AGREE THAT USE OF THE MyOpenLetter        SITE AND THE SERVICE IS ENTIRELY AT YOUR<br>
    OWN RISK. THE MyOpenLetter SITE AND THE SERVICE ARE PROVIDED ON AN "AS  IS" OR "AS AVAILABLE" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND. ALL  EXPRESS AND IMPLIED WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE  WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND  NON-INFRINGEMENT OF PROPRIETARY RIGHTS ARE EXPRESSLY DISCLAIMED TO THE  FULLEST EXTENT PERMITTED BY LAW. TO THE FULLEST EXTENT PERMITTED BY  LAW, MyOpenLetter DISCLAIMS ANY WARRANTIES FOR THE SECURITY, RELIABILITY,  TIMELINESS, ACCURACY, AND PERFORMANCE OF THE MyOpenLetter SITE AND THE  SERVICE. TO THE FULLEST EXTENT PERMITTED BY LAW, MyOpenLetter DISCLAIMS  ANY WARRANTIES FOR OTHER SERVICES OR GOODS RECEIVED THROUGH OR  ADVERTISED ON THE MyOpenLetter SITE OR THE SITES OR SERVICE, OR ACCESSED  THROUGH ANY LINKS ON THE MyOpenLetter SITE. TO THE FULLEST EXTENT  PERMITTED BY LAW, MyOpenLetter DISCLAIMS ANY WARRANTIES FOR VIRUSES OR  OTHER HARMFUL COMPONENTS IN CONNECTION WITH THE MyOpenLetter SITE OR THE  SERVICE. Some jurisdictions do not allow the disclaimer of implied  warranties. In such jurisdictions, some of the foregoing disclaimers  may not apply to you insofar as they relate to implied warranties.<br>

    <br>
  </li>
  <li>Limitations        of Liability<br>
    <br>
    UNDER NO CIRCUMSTANCES SHALL MyOpenLetter BE LIABLE FOR DIRECT, INDIRECT,<br>
    INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES (EVEN IF  MyOpenLetter HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES),  RESULTING FROM ANY ASPECT OF YOUR USE OF THE MyOpenLetter SITE OR THE  SERVICE, WHETHER THE DAMAGES ARISE FROM USE OR MISUSE OF THE MyOpenLetter  SITE OR THE SERVICE, FROM INABILITY TO USE THE MyOpenLetter SITE OR THE  SERVICE, OR THE INTERRUPTION, SUSPENSION, MODIFICATION, ALTERATION, OR  TERMINATION OF THE MyOpenLetter SITE OR THE SERVICE. SUCH LIMITATION  SHALL ALSO APPLY WITH RESPECT TO DAMAGES INCURRED BY REASON OF OTHER  SERVICES OR PRODUCTS RECEIVED THROUGH OR ADVERTISED IN CONNECTION WITH  THE MyOpenLetter SITE OR THE SERVICE OR ANY LINKS ON THE MyOpenLetter SITE,  AS WELL AS BY REASON OF ANY INFORMATION OR ADVICE RECEIVED THROUGH OR  ADVERTISED IN CONNECTION WITH THE MyOpenLetter SITE OR THE SERVICE OR ANY  LINKS ON THE MyOpenLetter SITE. THESE LIMITATIONS SHALL APPLY TO THE  FULLEST EXTENT PERMITTED BY LAW. In some jurisdiction, limitations of  liability are not permitted. In such jurisdictions, some of the  foregoing limitation may not apply to you.<br>
    <br>

  </li>
  <li>Indemnity<br>
    <br>
    You  agree to indemnify and hold MyOpenLetter, its officers, subsidiaries,  affiliates, successors, assigns, directors, officers, agents, service  providers, suppliers and employees, harmless from any claim or demand,  including reasonable attorney fees and court costs, made by any third  party due to or arising out of Content you submit, post or make  available through the Service, your use of the Service, your violation  of the Terms, your breach of any of the representations and warranties  herein, or your violation of any rights of another.<br>
    <br>
  </li>
  <li>General        information<br>

    <br>
    The  Terms constitute the entire agreement between you and MyOpenLetter and  govern your use of the Service, superceding any prior agreements  between you and MyOpenLetter. The Terms and the relationship between you  and MyOpenLetter shall be governed by the laws of India without regard to its conflict of law provisions. You and MyOpenLetter  agree to submit to the personal and exclusive jurisdiction of the  courts located within Chennai, India. The  failure of MyOpenLetter to exercise or enforce any right or provision of  the Terms shall not constitute a waiver of such right or provision. If  any provision of the Terms is found by a court of competent  jurisdiction to be invalid, the parties nevertheless agree that the  court should endeavor to give effect to the parties' intentions as  reflected in the provision, and the other provisions of the Terms  remain in full force and effect. You agree that regardless of any  statute or law to the contrary, any claim or cause of action arising  out of or related to use of the Service or the Terms must be filed  within one (1) year after such claim or cause of action arose or be  forever barred.<br>
    <br>
  </li>
  <li>Violations        of Terms and Liquidated Damages<br>
    <br>
    Please report any violations of the Terms, by notifying us for abuse of terms. Our failure to act with respect to a breach by you or others does not  waive our right to act with respect to subsequent or similar breaches.
  </li>

</ol>

			</div> 
		</div>
	</div>
</div>				 
{% endblock %}
